body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2D2F34;
    margin: 0; /* Убираем стандартные маргины body */
    padding: 0; /* Убираем стандартные паддинги body */
}

input, textarea, select {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
* {
    box-sizing: border-box;
}
@import "tailwindcss";
@source "../views";
